* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  background: #fff;
  color: #333;
  /* cursor: none; */
}

.rdw-editor-wrapper {
  border-bottom: 1px solid #0e9d57;
}
.rdw-editor-wrapper:focus-within {
  border-bottom: 2px solid #0e9d57;
}
::-moz-selection {
  /* Code for Firefox */
  background-color: #0e9d57;
  color: #edf4ee;
}

::selection {
  background-color: #0e9d57;
  color: #edf4ee;
}

.form-group,
.form-group label,
.form-group input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-group label {
  font-size: 0.8rem;
}

.form-group input {
  padding: 10px 20px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #eee;
  outline-width: 0;
  font-size: 1rem;
}

.form-group input:focus {
  border-bottom: 3px solid rgb(30, 30, 30);
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: rgb(30, 30, 30);
  color: #fff;
}

.errormessage {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: red;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

.success-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: green;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

.BrainhubCarousel__arrows {
  background-color: #0e9d57 !important;
  border-radius: 100%;
}
.BrainhubCarousel__arrows:focus {
  outline: none;
}
.rdw-embedded-modal,
.rdw-link-modal {
  height: auto !important;
}
@media (max-width: 900px) {
  .app > div {
    padding-top: 5%;
  }
}
@media (max-width: 480px) {
  .BrainhubCarouselItem {
    width: 90% !important;
    max-width: 90% !important;
  }
  .BrainhubCarousel {
    position: relative;
    width: 100vw;
    padding-bottom: 20%;
  }
  .BrainhubCarousel__arrows {
    position: absolute !important;
  }
  .BrainhubCarousel__arrowRight {
    bottom: 5%;
    right: 30%;
  }
  .BrainhubCarousel__arrowLeft {
    bottom: 5%;
    left: 30%;
  }
  .BrainhubCarouselItem > div {
    padding: 0 5%;
  }
  .app > div {
    padding-top: 12%;
  }
}
